<ion-content [fullscreen]="true">

  <div class="ion-text-end">
    <ion-button 
      (click)="close()" 
      fill="clear" 
      color="dark"
    >
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>

  <ion-list>

    <ion-item>
      <ion-input 
        label="Nome: " 
        placeholder="Digite o nome do Produto"
        [(ngModel)]="name"
      >
    </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input 
        label="Preço: " 
        placeholder="Digite o valor do Produto"
        [(ngModel)]="price" 
        type="number"
      >
    </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input 
        label="Quantidade: " 
        placeholder="Digite a qnt do Produto"
        value="1"
        [(ngModel)]="amount" 
        type="number"
      >
    </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-select aria-label="Setor" interface="popover" placeholder="Selecione o Setor" [(ngModel)]="sector" >
        <ion-select-option value="hortifruti">Hortifruti</ion-select-option>
        <ion-select-option value="breakfast">Café da Manhã</ion-select-option>
        <ion-select-option value="mercearia">Mercearia</ion-select-option>
        <ion-select-option value="talho">Talho</ion-select-option>
        <ion-select-option value="higiene">Higiene</ion-select-option>
        <ion-select-option value="limpeza">Limpeza</ion-select-option>
        <ion-select-option value="bebidas">Bebidas</ion-select-option>
        <ion-select-option value="rafaela">Rafaela</ion-select-option>
        <ion-select-option value="farmacia">Farmácia</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>
  

  <ion-button 
    class="submit-modal"
    (click)="onSubmit()" 
    color="primary"
    expand="block"
  >
    Criar produto
  </ion-button>

</ion-content>



